<div class="container-fluid ">
  <div class="row ">
    <div class="col wrapper d-flex align-items-center py-md-4 ">
      <div class="overlay"></div>
      <div class="row justify-content-around">
        <div class="col-md-3 col-12">
          <p class="taglineText">Головна   /   Партнери</p>
          <p class="tagline">Партнери</p>
        </div>
        <div class="col-md-5 col-12 taglineText">
            <p>Клієнтами нашої аудиторської фірми є понад 200 організацій, більшість яких – це малий і середній бізнес. Ми також успішно працюємо з великим вітчизняним і іноземним бізнесом.</p>
              Серед наших клієнтів – страхові компанії, транспортні та транспортно-експедиційні компанії, туристичні агентства, підприємства-виробники, підприємства оптової та роздрібної торгівлі, громадського харчування,
              а також будівельні компанії та фірми, які спеціалізуються на наданні послуг, іноземні інвестиційні компанії.

            <b>  Будемо раді бачити Вас серед наших партнерів або клієнтів.
              Ми зможемо задовольнити Ваші вимоги та виправдати Ваші сподівання.</b>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around py-5 mt-5">
    <div class="col-md-4 col-12 companyLogo">
      <div class="col-auto mb-5"><img src="assets/images/sequa.png" alt=""></div>
      <div class="col text-center"><span>НІМЕЦЬКО-УКРАЇНСЬКИЙ ПАРТНЕРСЬКИЙ ПРОЕКТ У СФЕРІ БІЗНЕСУ</span></div>
    </div>
    <div class="col-md-4 col-12  companyLogo">
      <div class="col-auto mb-5"><img src="assets/images/RNBA.png" alt=""></div>
      <div class="col text-center"><span>МІЖНАРОДНА ГРОМАДСЬКА ОРГАНІЗАЦІЯ
РАДА НЕЗАЛЕЖНИХ БУХГАЛТЕРІВ ТА АУДИТОРІВ</span></div>
    </div>
    <div class="col-md-4 col-12  companyLogo">
      <div class="col-auto mb-5 "><img src="assets/images/LTPP.png" alt=""></div>
      <div class="col text-center"><span>ЛЬВІВСЬКА ТОРГОВО-
ПРОМИСЛОВА ПАЛАТА</span></div>
    </div>
  </div>
</div>
