<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col p-0 h-100 wrapper d-flex align-items-center">
      <div class="overlay"></div>

      <div class="flex-column justify-content-around headline">
        <div class="col-md-10 col-12">
          <p class="tagline title">ЕФЕКТИВНІ РІШЕННЯ ДЛЯ ВАШОГО БІЗНЕСУ!</p>
        </div>
        <div class="col-md-10 col-12 taglineText">
          <ul class="taglineText title">
            <li>Незалежна оцінка діяльності вашої компанії</li>
            <li>Підвищення рівня довіри користвачів до фінансової звітності</li>
            <li>Допомога в прийнятті управлінських рішень</li>
          </ul>
        </div>
      </div>

      <div class="container-fluid directions">
        <div class="row">
          <div class="col p-5 audit text-center">Audit
            <div class="backdrop"></div>
          </div>
          <div class="col p-5 tax text-center">Tax
            <div class="backdrop"></div>
          </div>
          <div class="col p-5 advisory text-center">Advisory
            <div class="backdrop"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
