<div class="container-fluid">
  <div class="row">
    <div class="col wrapper d-flex align-items-center">
      <div class="overlay"></div>
      <div class="row justify-content-around">
        <div class="col-md-3">
          <p class="taglineText">Головна   /   Наші переваги</p>
          <p class="tagline">НАШІ ПЕРЕВАГИ</p>
        </div>
        <div class="col-md-4">
          <div></div>
          <p class="taglineText">Клієнтами АФ Західаудитсервіс вже стали понад 200 організацій,
            більшість яких – це малий і середній бізнес.
            Але ми також успішно працюємо і з великими вітчизняними і іноземними компаніями, бюджетними організаціями. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <tabset>
      <tab>
        <ng-template tabHeading>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zm7.973.056v-.002.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
          </svg>
          <p>Кадровий потенціал</p>
        </ng-template>
        <div class="col w-75 m-auto py-5 benefit">
          У департаменті бухгалтерського та податкового обліку АФ Західаудитсервіс працюють висококласифіковані фахівці, які регулярно проходять підвищення кваліфікації в спеціалізованих навчально-методичних центрах. Нами впроваджена багаторівнева система внутрішньо корпоративних стандартів, спрямована на мотивацію особистісного та професійного зростання співробітників. Крім того, щоквартально робота кожного нашого фахівця з бухгалтерського обліку перевіряється внутрішнім аудитом.
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-display" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75z"/>
            <path fill-rule="evenodd" d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
          </svg>
          <p>Технології</p>
        </ng-template>
        <div class="col w-75 m-auto py-5 benefit">
          У своїй роботі ми використовуємо тільки передові та найбільш функціональні версії програмних продуктів. Прагнемо максимально автоматизувати процес. Крім того, наші бухгалтери орієнтуються у своїй професійній діяльності на найостанніші досягнення прикладних провідних довідково-правових систем.

        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
          </svg>
          <p>Контроль якості</p>
        </ng-template>
        <div class="col w-75 m-auto py-5 benefit">
          В Департаменті бухгалтерського та податкового обліку АФ Західаудитсервіс діють чіткі регламенти, покликані знизити вплив людського фактора на кінцевий результат. Система внутрішньо фірмового контролю якості гарантує чітку регламентацію і стандартизацію всіх етапів надання бухгалтерських послуг. Нашими внутрішніми аудиторами здійснюються  перевірки як до здачі звіту (в експрес-режимі), так і після (комплексні документальні перевірки якості).

        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-wallet2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 4l10-3A1.5 1.5 0 0 1 14 2.5v2h-1v-2a.5.5 0 0 0-.5-.5L5.833 4H2.5z"/>
            <path fill-rule="evenodd" d="M1 5.5A1.5 1.5 0 0 1 2.5 4h11A1.5 1.5 0 0 1 15 5.5v8a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 13.5v-8zM2.5 5a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-11z"/>
          </svg>
          <p>Оптимальне ціноутворення</p>
        </ng-template>
        <div class="col w-75 m-auto py-5 benefit">
          Ми готові запропонувати оптимальну ціну кожного нашого клієнта, враховуючи його фінансові можливості та завдання. Вартість наших послуг враховує Вашу ділову активність – пряма залежність ціни від обсягу документообігу, якщо діяльність не ведеться, оплата за наші послуги зводиться до мінімуму – 250 грн. в місяць за здачу нульової звітності.

        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-list-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
          </svg>
          <p>Свобода вибору</p>
        </ng-template>
        <div class="col w-75 m-auto py-5 benefit">
          У своїй діяльності ми чітко дотримуємося принципів професійної етики. Наші клієнти завжди мають можливість вибору – продовжити вести свій бухгалтерський облік в нашій компанії або звернутися в іншу бухгалтерську фірму, найняти штатного бухгалтера. Навіть якщо у вас виникло таке бажання, то цей процес пройде без будь-яких перешкод з нашого боку. Наш клієнт – завжди правий!
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
          </svg>
          <p>Конфіденційність</p>
        </ng-template>
        <div class="col w-75 m-auto py-5 text-center benefit">
          Висока організація режиму конфіденційності, що діє в АФ Західаудитсервіс передбачена в наших договорах.
        </div>
      </tab>

    </tabset>
  </div>


  <div class="row firmOrAccountant p-md-5 p-sm-2 p-1 mt-5">
    <div class="col-md">
     <p class="tagline3">Аудиторська фірма чи штатний бухгалтер?</p>
    </div>
    <div class="col-md">
      <div></div>
      <p class="tagline3Text">Наймаючи бухгалтера, Ви оплачуєте його робочий час. Ви повинні платити йому фіксовану заробітну плату навіть якщо обсяг його роботи зменшується. Якщо ж він збільшується, Ви змушені брати ще одного бухгалтера. Тому
        в більшості випадків найбільш економічно доцільним є звернення
        до аудиторської фірми.</p>
    </div>
  </div>


  <div class="row justify-content-center mt-5 mb-2">
    <div class="col-auto">
      <p class="tagline2">Плюси звернення в аудиторську фірму</p>
    </div>
  </div>
  <div class="row  justify-content-between px-md-5 px-1 ourPluses">
    <div class="col-md-5 d-flex flex-column">
        <div class="row mt-3">
          <div class="col-lg-auto col-12"><p class="ourPlusesNum">01</p></div>
          <div class="col">Ви оплачуєте тільки фактично здійснений обсяг робіт;</div>
        </div>

        <div class="row mt-3 ">
          <div class="col-lg-auto col-12"><p class="ourPlusesNum">02</p></div>
          <div class="col">
            По мірі необхідності до роботи підключаються фахівці
            з супутнім бухгалтерії робіт – податкові консультанти, юристи, аудитори. Вони допоможуть правильно вибудувати схему роботи, скласти вірно договору і т.д.
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-auto col-12"><p class="ourPlusesNum">03</p></div>
          <div class="col">
            <p> Ви не платите  податки і збори з фонду оплати праці штатних бухгалтерів.<br><br>
              *На суми, які Ви платите нам за бухгалтерське обслуговування зменшується оподатковувана база по податку на прибуток, тому що витрати пов’язані з веденням бухгалтерського обліку відносяться до складу витрат згідно ПКУ;
            </p>

          </div>
        </div>

    </div>

    <div class="col-md-5 d-flex flex-column ">
        <div class="row mt-3">
          <div class="col-lg-auto col-12"><p class="ourPlusesNum">04</p></div>
          <div class="col">
            <p>Ви не витрачаєтеся на розширення приміщення, організацію додаткових робочих місць, купівлю комп’ютерів та оснащення їх бухгалтерськими і правовими системами;</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-auto col-12"><p class="ourPlusesNum">05</p></div>
          <div class="col">
            <p>Ви не витрачаєте час і гроші на підбір кваліфікованих кадрів;</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-auto col-12"><p class="ourPlusesNum">06</p></div>
          <div class="col">
            <p>Ви не несете збитків внаслідок несвоєчасної подачі звітності або сплати податків. Якщо помилку зробив ваш штатний бухгалтер, Ви можете його звільнити, покарати матеріально на практиці досить проблематично.</p>
          </div>
        </div>

    </div>
  </div>

  <div class="row firmOrAccountant mt-5 p-md-5 p-2">
    <div class="col-md">
      <p class="tagline3">Наші гарантії</p>
    </div>
    <div class="col-md">
      <div></div>
      <p class="tagline3Text">Ми повністю відповідаємо за свою роботу і дотримання заздалегідь обумовлених термінів. Крім того, ми гарантуємо повну конфіденційність, чого не може гарантувати більшість штатних бухгалтерів.</p>
    </div>
  </div>
</div>
