<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col wrapper d-flex align-items-center h-100">
      <div class="overlay"></div>
      <div class="row justify-content-around">
        <div class="col-md-3">
          <p class="taglineText">Головна   /   Вакансії</p>
          <p class="tagline">Вакансії</p>
        </div>
        <div class="col-md-5">
          <div></div>
          <p class="taglineText">Наша аудиторська фірма готова співпрацювати з професіоналами у галузі аудиту, бухгалтерії та права. Ми будемо раді ініціативним кандидатам.
            Своє резюме Ви можете відправити нам на електронну пошту.</p>
        </div>
      </div>
    </div>
  </div>
</div>
