<div class="container-fluid p-xl-5 p-3 ">
  <div class="row mb-4">
    <div class="col taglineText">
      Головна   /   Послуги
    </div>
  </div>
  <div class="row justify-content-between ">
    <div class="d-block d-lg-none col-12 text-center"><p class="title">Наші послуги</p></div>

    <div class="col-lg-4 col">
      <div class="col"><button mat-button class="btn btn-default" autofocus="autofocus" (mouseup)="showRef(templateOne)">Абонентське бухгалтерське обслуговування</button></div>
      <div class="col"><button mat-button class="btn" (mouseup)="showRef(templateTwo)">Аутсорсинг бухгалтерії</button></div>
      <div class="col"><button mat-button class="btn" (mouseup)="showRef(templateThree)">Аудиторські послуги</button></div>
      <div class="col"><button mat-button class="btn" (mouseup)="showRef(templateFour)">Податковий аудит</button></div>
      <div class="col"><button mat-button class="btn" (mouseup)="showRef(templateFive)">Трансформація фінансової звітності</button></div>
      <div class="col"><button mat-button class="btn" (mouseup)="showRef(templateSix)">Податкове консультування</button></div>
    </div>
    <div class="col-12 d-lg-none my-3 divider"></div>
    <div class="col-lg-7 col">
      <div class="d-none d-lg-block"><p class="title">Наші послуги</p></div>
      <div class="col">
        <ng-container *ngTemplateOutlet="template? template: defaultTemplate"></ng-container>
      </div>
      <div class="col servicesImg1 mt-5"><img src="assets/images/services1.png" alt=""></div>
            <div class="col mt-5">
              <div class="row flex-column">
                <div class="col text-center"><p class="title2">АФ Західаудитсервіс також пропонує послуги</p></div>
                <div class="col textWithLine"><div class="col-1 line"></div><p class="freeText">Постановка і відновлення бухгалтерського обліку, адаптація бухгалтерських програм
                  з урахуванням специфіки діяльності та ведення бухгалтерського обліку організацій,
                  в тому числі, об’єднаних в корпорації, холдинги або фінансово-промислові групи;</p></div>
                <div class="col textWithLine"> <div class="col-1 line"></div> <p class="freeText">Розробка (оптимізація) облікової політики для цілей бухгалтерського обліку та оподаткування;</p></div>
                <div class="col textWithLine"> <div class="col-1 line"></div> <p class="freeText">Розробка індивідуальних схеми ведення бухгалтерського та податкового обліку;</p></div>
                <div class="col textWithLine"> <div class="col-1 line"></div> <p class="freeText">Розробка та складання контракту з Керівником підприємства.</p></div>
                <div class="col textWithLine"> <div class="col-1 line"></div> <p class="freeText">Розробка схем розрахунків з контрагентами грошовими і не грошовими засобами;</p></div>
                <div class="col textWithLine"> <div class="col-1 line"></div> <p class="freeText">Складання фінансової (бухгалтерської) звітності для юридичних осіб, податкових декларацій для фізичних та юридичних осіб, підготовка проектів правових документів;</p></div>
                <div class="col textWithLine"> <div class="col-1 line"></div> <p class="freeText">Представлення інтересів клієнта в державних органах з широкого спектру питань, підготовка документів для надання в арбітражний суд, сприяння в отриманні офіційних відповідей від фінансових та податкових органів щодо спірних і проблемних питань бухгалтерського обліку та оподаткування, в т.ч. з питань валютного
                  регулювання та контролю;</p></div>
                <div class="col textWithLine"><div class="col-1 line"></div> <p class="freeText">Інші супутні послуги: </p></div>
              </div>
            </div>
      <div class="col mt-5">
        <div class="overlay"></div>
        <div class="row companyPolicyBlock justify-content-center align-items-center">
          <div class="col px-5">
            <p>Фірма здійснює індивідуальний підхід при наданні аудиторських послуг. При проведення аудиту найбільш ефективний результат, з точки зору своєчасного внесення виправлень і виключення в подальшому помилок в бухгалтерському та податковому обліку, досягається при проведенні поетапних (щоквартальних або піврічних) перевірок.

              <br><br>Вартість послуг визначається виходячи з погодинних ставок і фактичних трудовитрат. Для визначення вартості аудиту проводиться безкоштовна експертна оцінка.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<ng-template #templateOne let-message let-showAdditional="show">
  <p class="freeText">
    Будь-яка комерційна організація ставить перед собою мету – отримання прибутку. Для того щоб її досягти, необхідно скласти чіткий план функціонування, який буде розписаний по кожному циклу виробництва. Цей план можна скласти тільки на підставі даних господарських операціях. У свою чергу, першоджерелом такої інформації є бухгалтерський облік.

    Наша компанія надасть інформаційно-консультаційну підтримку діяльності бухгалтерії (аутсорсинг бухгалтерії), проведе внутрішній і зовнішній фінансово-економічний аналіз діяльності підприємства. Дистанційне бухгалтерське обслуговування, оцінка бізнесу, оптимізація документообігу, 1С програмування та супровід, розрахунок зарплати – все це входить в сферу наших послуг. При необхідності ми допоможемо відновити бухгалтерський облік компанії, розробити
    методологію його ведення.
  </p>

</ng-template>

<ng-template #templateTwo let-message let-showAdditional="show">
  <p class="freeText">
    Сьогодні ця послуга все частіше розглядається підприємствами як гідна альтернатива створення власної бухгалтерської служби. Довіривши облік фінансово-господарської діяльності АФ Західаудитсервіс, Ви можете на набагато більш вигідних умовах залучити до роботи фахівців високого класу. Багатий практичний досвід в сфері бухгалтерського аутсорсингу робить нас Вашим надійним партнером у вирішенні проблем, пов’язаних з підвищенням якості бухгалтерського обліку та підготовки податкової звітності у Вашій компанії.
    Кожна фірма сама визначає, який обсяг робіт буде переданий на аутсорсинг. Ви можете звести зовнішнє втручання до необхідного мінімуму або повністю доручити бухгалтерський облік на підприємстві нашим фахівцям.
    Комплексний аутсорсинг бухгалтерського обліку включає наступні операції:

    оформлення та обробка первинних документів, наданих замовником в електронному або паперовому вигляді;
    складання форм синтетичного та аналітичного обліку;
    розрахунок заробітної плати та інших виплат фізичним особам;
    складання регістрів податкового обліку, здача бухгалтерської звітності в ДПІ, фонди і органи статистики;
    розрахунок собівартості послуг і робіт, що виконуються компанією-замовником, оцінка облік основних та нематеріальних активів в т.ч. нарахування амортизації та проведення інвентаризацій;
    кур’єрські послуги.
    При необхідності в цей перелік може бути додатково включені інші послуги бухгалтерського обліку.
    З перевагами аутсорсингу бухгалтерії більш детально Ви можете ознайомитись в окремому розділі (посилання), який присвячений саме цьому питанню, а коротко це :

    скорочення витрат на бухгалтерію і підвищення якості обліку;
    формування облікової політики з врахуванням особливостей сфери діяльності замовника;
    оптимізація оподаткування;
    підготовка документів на вимогу податкової інспекції, кредитних установ і фондів;
    З точки зору часових витрат на підготовку звітності та контроль якості робіт,
    найбільш зручним варіантом для компанії-клієнта і виконавця є комплексне бухгалтерське
    обслуговування з моменту створення юридичної особи. Але на практиці наша компанія готова включитися в роботу
    з ведення бухгалтерського обліку на будь-якому етапі становлення Вашої компанії.
  </p>

</ng-template>

<ng-template #templateThree let-message let-showAdditional="show">
  <p class="freeText">
    Національний (в т.ч. обов’язковий аудит) аудит фінансової звітності П(С)БО:

    перевірка даних бухгалтерського обліку та показників фінансової звітності суб’єкта господарювання з метою висловлення незалежної думки аудитора про її достовірність у всіх суттєвих аспектах та у відповідності з вимогами законів України, Національними стандартами бухгалтерського обліку, Міжнародними стандартами фінансової звітності та інших правил (внутрішніх положень суб’єктів господарювання) згідно вимог користувачів.
    Аудит може проводитись за ініціативою суб’єкта господарювання (ініціативний аудит),
    а також у випадках, передбачених законодавством – обов’язковий аудит.
  </p>

</ng-template>

<ng-template #templateFour let-message let-showAdditional="show">
  <p class="freeText">
    Незалежна  аудиторська перевірка податкового обліку та податкової звітності, метою якої є визначення правильності порядку обчислення та сплати податків до бюджету, а також відображення цих податків у регламентованій податковій звітності.
    Маючи великий досвід, спеціалісти аудиторської фірми «Західаудитсервіс» допоможуть Вам підготуватися до перевірок з боку податкових органів та уникнути податкових ризиків.
    За результатами податкового аудиту наші спеціалісти нададуть Вам професійні рекомендації по виправленню виявлених помилок.
  </p>

</ng-template>


<ng-template #templateFive let-message let-showAdditional="show">
  <p class="freeText">
    Трансформація фінансової звітності Вашого підприємства згідно міжнародних стандартів фінансової звітності (IFRS), міжнародний аудит.
    АФ Західаудитсервіс пропонує послуги щодо трансформації звітності згідно міжнародних стандартів фінансової звітності (IFRS).
    У результаті нашої роботи Ви отримаєте повний комплект звітів у відповідності із міжнародними стандартами фінансової звітності(IFRS ):

    У разі підготовки звітності, АФ Західаудитсервіс готує та розкриває звітність із усіма примітками та поясненнями, які необхідні згідно міжнародних стандартів фінансової звітності (IFRS) та міжнародними стандартами бухгалтерського обліку (IAS).
    АФ Західаудитсервіс готує звітність на українській, російській, англійській, німецькій мові.

    Трансформація звітності згідно міжнародним стандартам фінансової звітності (IFRS) необхідна :

    компаніям які ведуть міжнародний бізнес;
    компаніям , які планують виходити на IPO, залучати інвестиції чи залучити  іноземного партнера;
    інвестору, який планує купити чи продати бізнес, чи оцінює можливість інвестування в Україну;
    публічним Українським компаніям, акції яких котируються на біржі.
  </p>


</ng-template>

<ng-template #templateSix let-message let-showAdditional="show">
  <p class="freeText">
    Податкове консультування – невід’ємна частина процесу ведення бухгалтерського та податкового обліку кожного підприємства.
    Консультації надаються з питань, пов’язаних з:
    податковим законодавством;
    методикою та системою ведення бухгалтерського та податкового обліку;
    специфікою відображення в бухгалтерському обліку господарських операцій;
    правилами оформлення первинної документації, обсягу необхідних документів у  господарській операції;
    застосуванням різних систем оподаткування ;
    Необхідність в податкових консультаціях особливо відчувається при роботі бухгалтера з нестандартними, нетиповими або незнайомими для нього ситуаціями, коли потрібно терміново вирішити питання, а часу на пошук відповіді в різних джерелах інформації немає.
    Професійні податкові консультації наших фахівців дозволять в найкоротші терміни вирішити всі ваші проблеми і відповісти на будь-які питання, що виникають у вас в процесі фінансово-господарської діяльності. Надання податкових консультацій може здійснюватися на постійній основі або в разовому порядку (по мірі необхідності).
    Гарантії обґрунтованості та відповідності законодавчим нормам бухгалтерських консультацій - високий професіоналізм і багатий досвід роботи наших фахівців. Головною перевагою професійних консультацій з бухгалтерського та податкового обліку є їх оперативність і якість.
    Бухгалтерські консультації дозволять вам оперативно і своєчасно приймати ефективні управлінські рішення,
    що сприяють зміцненню та розвитку вашого бізнесу.
  </p>

</ng-template>


