/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tagline{
  font-weight: bold;
  font-size: 48px;
  line-height: 154.4%;
}
.taglineText{
  font-weight: 400;
  font-size: 18px;
  line-height: 174.9%;
}
.tagline2{
  font-weight: bold;
  font-size: 32px;
  line-height: 154.4%;
  text-transform: uppercase;
  color: #521938;
}
.line{
  height: 2px;
  background: linear-gradient(to right, rgba(166,29,104,1), rgba(255,255,255,0.2));
  margin-right: 10px;
}

.textWithLine{
  display: flex;
  align-items: baseline;
}


